@charset "UTF-8";
html{
    font-size: 0.5208vw;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

main, footer{
    overflow-x: hidden;
}

body, h1, h2, h3, h4, h5, p, ul{
    margin: 0;
    padding: 0;
}

h2{
    font-weight: 300;
    line-height: 100%;
}

h3{
    font-weight: 300;
    line-height: 100%;
}

body{
    font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    line-height: 100%;
}

p{
    color: #333333;
    font-size: 1.8rem;
}

.pc_only{
    display: block;
}

.pc_flex{
    display: flex;
}

.pc_inline{
    display: inline;
}

.sp_inline{
    display: none;
}

.sp_only{
    display: none;
}

header{
    background: #F5F5F5;
    height: 7.8rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

header a{
    transition: all .2s ease-in-out;
}

header a:hover{
    opacity: .3;
    transition: all .2s ease-in-out;
}

header .wrap{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wrap > div{
    width: 50%;
    height: calc(100% - .35rem);
}

header .wrap .header_left{
    border-bottom: .7rem solid #8ABCD7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2.5%;
}

header .wrap .header_left img{
    height: 4.536rem;
}

header .wrap .header_right{
    border-bottom: 7px solid #1D2A56;
    padding: 0 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.2rem;
}

header .wrap .header_right nav{
    width: 60%;
}

header .wrap .header_right nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .wrap .header_right nav ul li a{
    color: #1D2A56;
}

header .wrap .header_right div:first-child{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wrap .header_right div a{
    color: white;
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
    margin: 0 .45rem;
}

header .wrap .header_right div a:first-child{
    background: #1D2A56;
}

header .wrap .header_right div a:nth-child(2){
    background: #8ABCD7;
}

main{
    padding-top: 7.8rem;
}

.ctr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 54%;
    margin: auto;
}

.ctr div{
    width: 36.2rem;
    height: 7.4rem;
    position: relative;
}

.ctr div:hover a{
    top: -.1rem;
    left: -.3rem;
    transition: all .2s ease-in-out;
}

.ctr div:first-child{
    border: .4rem solid #1D2A56;
}

.ctr div:nth-child(2){
    border: .4rem solid #8ABCD7;
}

.ctr div a{
    position: absolute;
    top: -.8rem;
    left: 1rem;
    display: block;
    text-align: center;
    padding: 2.9rem 0;
    font-size: 2rem;
    width: 36.8rem;
    color: white;
    transition: all .2s ease-in-out;
}

.ctr div:first-child a{
    background: #1D2A56;
}

.ctr div:nth-child(2) a{
    background: #8ABCD7;
}

footer{
    background: #1D2A56;
    padding: 3.5rem 0;
}

footer .wrap{
    width: 85%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

footer .wrap .footer_left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

footer .wrap .footer_left img{
    margin-right: 8rem;
    width: 13.2rem;
}

footer .wrap .footer_left p{
    color: white;
    font-size: 1.6rem;
}

footer .wrap .footer_right{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

footer .wrap .footer_right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

footer .wrap .footer_right ul li a{
    font-size: 1.6rem;
    color: white;
}

footer .wrap .footer_right ul li a:hover{
    opacity: .5;
    transition: all .2s ease-in-out;
}

footer .wrap .footer_right p{
    font-size: 1.6rem;
    color: white;
}

@media screen and (max-width: 767px) {
    html{
        font-size: 2.667vw;
    }

    p{
        font-size: 1.4rem;
    }

    .pc_only{
        display: none;
    }
    
    .sp_only{
        display: block;
    }

    .pc_flex{
        display: none !important;
    }

    .pc_inline{
        display: none;
    }

    .sp_inline{
        display: inline;
    }

    header{
        height: 5.5rem;
    }

    header .wrap .header_left{
        padding-left: 0.94rem;
    }

    header .wrap .header_left img{
        height: 3.039rem;
    }

    header .wrap .header_right{
        justify-content: flex-end;
        padding: 0;
    }

    .ctr{
        width: 100%;
        flex-direction: column;
    }
    
    .ctr div{
        width: 100%;
        height: 6.1rem;
    }

    .ctr div:first-child{
        margin-bottom: 2.2rem;
        border: .3rem solid #1D2A56;
    }
    
    .ctr div:hover a{
        top: -.05rem;
        left: -.06rem;
    }
    
    .ctr div:nth-child(2){
        border: .3rem solid #8ABCD7;
    }
    
    .ctr div a{
        top: -.8rem;
        left: 1.1rem;
        padding: 2.2rem 0;
        font-size: 1.8rem;
        width: 100.5%;
    }

    footer{
        padding: 2rem 0 .99rem;
    }

    footer .wrap .footer_left{
        width: 100%;
        justify-content:space-around;
    }

    footer .wrap .footer_left img{
        margin: 0;
        width: 7rem;
    }

    footer .wrap .footer_left p{
        font-size: 1rem;
    }

    footer > .copylight{
        color: white;
        font-size: 1rem;
        text-align: center;
        line-height: 100%;
        margin-top: 1.89rem;
    }


    #nav{
        padding: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 0;
        background: #F5F5F5;
        transition: all .7s ease-in-out;
        z-index: 1;
        opacity: 0;
        overflow-y: scroll;
        line-height: 100%;
    }

    #nav::after{
        position: absolute;
        content: "";
        top: 2.9rem;
        left: 3.26rem;
        width: 10.9rem;
        height: 12.1rem;
        background: url("../img/hamburger_logo.svg") no-repeat center center/cover;
    }

    #nav .nav_wrap{
        width: 85%;
        margin: auto;
        margin-top: 22.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #nav .nav_wrap ul{
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(25%);
        width: unset;
    }

    #nav .nav_wrap ul li{
        margin-bottom: 4.4rem;
        position: relative;
    }

    #nav .nav_wrap ul li::before{
        position: absolute;
        content: "";
        height: .1rem;
        width: 5.848rem;
        background: #1D2A56;
        left: -5rem;
        transform: translate(-50%, 50%);
        top: 50%;
    }

    #nav .nav_wrap ul li::after{
        position: absolute;
        font-size: 1.2rem;
        left: -10rem;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    #nav .nav_wrap ul li:first-child::after{
        content: "01";
    }

    #nav .nav_wrap ul li:nth-child(2)::after{
        content: "02";
    }

    #nav .nav_wrap ul li:nth-child(3)::after{
        content: "03";
    }

    #nav .nav_wrap ul li:nth-child(4)::after{
        content: "04";
    }

    #nav .nav_wrap ul li:nth-child(5)::after{
        content: "05";
    }

    #nav .nav_wrap ul li:nth-child(5){
        margin-bottom: 8.2rem;
    }

    #nav .nav_wrap ul li a{
        font-size: 2.2rem;
        padding: 0;
    }

    header .wrap .header_right div a:first-child{
        background: none;
    }

    header .wrap .header_right div{
        width: 100%;
    }

    header .wrap .header_right div:first-child{
        width: 100%;
    }

    header .wrap .header_right div .ctr div a{
        background: #1D2A56;
        border-radius: 0;
        width: 100%;
        padding: 2.2rem 0;
    }

    header .wrap .header_right div .ctr div:nth-child(2) a{
        background: #8ABCD7;
    }

    #hamburger {
        width: 6.6rem;
        height: 5.5rem;
        transition: all 1s ease-out;
        background: #1D2A56;
        position: relative;
        z-index: 1;
    }

    .inner_line {
        display: block;
        position: absolute;
        right: 50%;
        margin-right: -50%;
        transform: translate(-50%, 50%);
        bottom: 50%;
        width: 50%;
        height: 3px;
        background-color: white;
        transition: all 1s ease-out;
    }

    #line1 {
        top: 30%;
    }

    #line2 {
        top: 47%;
    }

    #line3 {
        bottom: 30%;
    }

    .in{
        transform: translateX(-100%);
        opacity: 1 !important;
    }

    .line_1,.line_2,.line_3{
        background: white;
        z-index: 100;
    }

    .line_1 {
        transform: translate(-1.5rem, .95rem) rotate(-45deg);
        top: 0;
    }

    .line_2 {
        opacity: 0;
    }
    
    .line_3 {
        transform: translate(-1.5rem, -.95rem) rotate(45deg);
        bottom: 0;
    }

}